<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
        <link rel="stylesheet" href="/src/css/simple-grid.css">
        <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
        <link rel="stylesheet" href="/src/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="row">
                <div class="col-8"> 
                    <h1 class="title">{{ title }}</h1>
                    <p>
                        {{ header_description }}
                    </p>
                    <br>
                    <address class="contact">
                        <a href="mailto:{{ header_email }}">{{ header_email }}</a><br> 
                        B6 30-32<br>
                        Room 234<br>
                        68131 Mannheim<br>
                        Germany
                    </address>
                    <nav>
                        <ul class="left">
                            <li><a href="src/files/{{ resume_pdf }}">Resume</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4"> 
                    <figure>
                        <img class="portrait round" src="src/img/{{ portrait }}" alt="Portrait">
                        <figcaption>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </header>
        <main>
            <article>
                {{ content | safe }}
            </article>
            <hr>
            <div class="footnote row">
                <div class="col-12">
                    <p class="center">
                        {{ footnote }}
                    </p> 
                </div>
            </div>
        </main>
    </body>
</html>